*~
*.bak
*.org
*.log
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
nbproject
.idea

/.env
/vendor
/html/*
!/html/favicon.ico
!/html/google*.html
!/html/wp-content
/html/wp-content/*
!/html/wp-content/themes
/html/wp-content/themes/*
!/html/wp-content/themes/phytolife
!.gitkeep
